
  /*añadir animaciones en  los h2*/

  @keyframes animateHeading {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  } 
  .heading-animation {
    text-align: center;
    margin: 0 auto;
  }
  /**fin de animacion**/

/* pagina principal y navbar*/
body {
    background-color: rgb(219, 212, 197);
    margin-top: 50px
  }
  
  
  .caja {
    background-color:  rgb(219, 212, 197);
    color: rgb(219, 212, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
 
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  /* pagina principal y navbar*/

  /* animacion añadirda*/

  .ubicacion {
    display: flex;
    justify-content: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 18rem;
    margin: 10px;
  }
   
  h1 {
    font-size:xx-large;
    text-align: center;
  }
  .acerca-de-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  .topico {
    margin: 20px;
    text-align: center;
  }
  
  .topico h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .topico p {
    font-size: 16px;
    line-height: 1.5;
  }
  .producto-descripcion{
  
    background-color: rgb(246, 245, 245);
    color: rgb(83, 61, 61);
    padding: 2px;
    
  }
  
  h5{
  
    background-color: rgb(255, 255, 255);
  color: rgb(141, 97, 97);
  padding: 2px;
  }
  .producto-precio{
    background-color: rgb(255, 255, 255);
    color: rgb(141, 97, 97);
    padding: 2px;
  }
  #carouselExampleCaptions {
    max-width: 600px; 
    margin: 0 auto; 
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .especial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2px;
    border: 5px solid rgb(151, 153, 132);
    border-radius: 10px;
    box-sizing: border-box;
    
  }
  
  
  
  .opniones {
    display: flex;
    justify-content: space-between;
  }
  .review-box {
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
  }  
  
  footer {
    background-color:  rgb(219, 212, 197);
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid  rgb(203, 195, 175);
    padding: 10px;
    text-align: center;
  }
  
  
    